$orange:rgb(218, 57, 43);
$bluedark:rgb(4, 5, 110);

.bg-orange{
background-color: $orange !important;
color: white !important;
}
.bg-bluedark{
    background-color: $bluedark !important;
color: white !important
}
.zoom:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
.text-orange{
    color: $orange ;
}
.text-blue{
    color: $bluedark ;
}
.bg-w-o{
    background-color: white;
}
.bg-w-o:hover{
    background-color: $orange;
    color: white;
    transition: 0.5s;
}
@media  (min-width:10px) and (max-width:410px)
{
    .P2{
        width: 100% !important;
    }
    .cardsecondcard{
        width: 268px;
        top: 423px;
        left: 8px;
    
    }
    .lastcard{
        width: 255px !important;
        position: relative;
        left: -22px;
        top: 43px;
    }
    .about{
        width: 120% !important;
        height: 1400px !important;
    }
    .redabout{
        height: 1085px;
    }
    .containercareers{
        height: max-content !important;
    }
    #containerscreen{
        top: 506px;
        position: relative;
    }
   .textup {
    position: relative;
    top: -698px;
    color: white;
    padding: 20px;
   }
   #endcare{
    position: absolute;
    top: 576%;
   }
    .play{
        position: relative;
        top: 520px;
    }
    .dodo3{
        top: 180px;
        left: 0;
    }
    #end{
        position: relative;
        top: 378px;
    }
    .cardthird{
        left: 2px !important;
        top: 362px !important;
        width: 272px !important;
        height: max-content !important;
    }
    .cardfirstcard{
        width: 271px !important;
        height: 830px !important;
        z-index: 1 !important;
        top: 126px !important;
        left: 5px !important;
    
    }
    .cardcat1{
        width: 300px !important;
    }
   
    .dodo2{
        top: 80px !important;
    left: 13% !important;
     }
    .bigcard1{
        top: -336px !important;
    }
    #lastcard{
        position: relative;
        top: 95px  !important;
    }
    .c1,.c2,.c3,.c4{
    
        position: relative;
        left: -45px  !important;
    }
    .imgcat{
        width: 280px;
        height: 450px;
    }
    #menu{
        position: absolute;
        z-index: 1111;
    }
    .menu-item{
        width: 100%;
        margin-top: 20px;
         }
         .menu-item1{
            margin-top: 10px;
            border-top-right-radius:15px ;
            border-bottom-left-radius:0px !important ;
            border-top-left-radius:15px ;
        }
        .menu-item5{
            border-bottom-left-radius:15px  ;
        }
        .dab{
            position: absolute;
            width: 6rem;
            height: 5rem;
            top: 2710px;
            left: 99px !important;
        }
        .card1{
            width: 270px;
            margin-top: 20px;
          
            left: -6px;
            height: max-content;
        }
        .card2{
            top: 667%;
            left: -6px;
        }
      
        #phone{
            position: absolute;
            top: 3000px;
            z-index: -1;
        }
        .shap{
            display: none;
        }
        

#c{
    overflow-y: scroll;
    
    }
    #ten{
        
         position: fixed;
         top: 0px;
        width: 100%;
        margin-top: 100px;
        
    }
    
    #sky{
        position: absolute  !important;
        height: max-content;
        top: 5612px;
        width: 100%;
        
    }
    #ten::-webkit-scrollbar,#sky::-webkit-scrollbar{
        display: none;
    }
    #tnentext{
        position: absolute;
        top: 146px;
        
    }
    
    .dab3
    {
        width: 200px;
    position: absolute;
    top:-170px;
    right: 2px;
    z-index: 999;
    
    }
    #form{
        width: 92%;
        position: absolute;
        top: 5%;
        left: 13px;
        z-index: 999;
    }
    #form2{
        width: 256px;
        position: absolute;
        top: 74%;
        left: 13px;
        z-index: 999;
    }
    .skey-dodo
    {
       
        position: absolute;
        top: 1;
        left: 45px;
        z-index: 9999999;
    }
    
    #lastcon{
        background-image: linear-gradient(rgb(255, 255, 255),$orange) ;
        z-index: 99999;
        position: absolute;
        width: 100%;
        top: 6450px;
        padding: 50px;
    }
    .imgsky{
        height: 838px;
    }
}

@media (min-width:411px) and (max-width:767px)
{  
    
    .imgfirst{
        width: 100% !important;
    }
    #lastcardfirst{
        top: 92px;
    }
    .cardfirstcard{
        width: 392px !important;
        top: 236px !important;
    }
    .dodofirst{
        left: 20px !important;
        
    }
    #firstmargin{
        position: relative;
        top: 20%;
    }
    
    .lastcard{
    width: 321px !important;
}
#cardss{
    position: relative;
    top: 0%;
}

.about{
    width: 120% !important;
    height: 1216px !important;
}
    .redabout{
        width: 100% !important;
        height: max-content !important;
    } 
      .containercareers{
    height: max-content !important;
}
.textup{

    border: 6px groove $bluedark;
    margin: 10px;
    border-radius: 15px;
}
    .playsecond{
        position: relative;
        top: 79px;
    }

    .cardsecondcard{
        top: 366px !important;
        width: 393px !important;
    }
    .play3{
        top: 92px !important;
        width: 364px !important;
    }
    .dodo3{
        left: 2% !important;
    }
    .dodoabout{
        left: 25% !important;
    }
    .cardthird{
        top: 332px !important;
        width: 388px !important;
    }
    .cathome{
        display: none;
    }
  
    #menu{
        position: absolute;
        z-index: 1111;
    }
    .menu-item{
   width: 100%;
    }
    .imgcat{
        width: 410px;
        height: 450px;
    }
    .menu-item1{
        margin-top: 10px;
        border-top-right-radius:15px ;
        border-bottom-left-radius:0px !important ;
        border-top-left-radius:15px ;
    }
    .menu-item5{
        border-bottom-left-radius:15px  ;
    }
    .row1{
        height: 62%;
    }
    .cardd{
        position: relative;
        left: 35px;
        
    }
    .dab{
        position: absolute;
        width:8rem;
        height: 8rem;
        top: 453px;
        left: 150px !important;
    }
     .card1{
        width: 380px;
        margin-top: 20px;
    }
    #phone{
        position: absolute;
        top: 2799px;
        z-index: -1;
    }
    .shap{
        display: none;
    }
    .card2{
        top: 431% !important;
    }

    .dab3
    {
        width: 50px;
    position: relative;
    top:-70px;
    right: 0px;
    }
    
.shap{
  display: none;
}





#c{
overflow-y: scroll;

}
#ten{
    
     position: fixed;
     top: 0px;
    width: 100%;
    margin-top: 100px;
    
}

#sky{
    position: absolute  !important;
    height: max-content;
    top: 5612px;
    width: 100%;
    
}
#ten::-webkit-scrollbar,#sky::-webkit-scrollbar{
    display: none;
}
#tnentext{
    position: absolute;
    top: 146px;
    
}

.dab3
{
    width: 200px;
position: absolute;
top:-170px;
right: 2px;
z-index: 999;

}
#form{
    width: 92%;
    position: absolute;
    top: 5%;
    left: 18px;
    z-index: 999;
}
#form2{
    width: 350px;
    position: absolute;
    top: 74%;
    left: 34px;
    z-index: 999;
}
.skey-dodo
{
   
    position: absolute;
    top: 1;
    left: 121px;
    z-index: 9999999;
}

#lastcon{
    background-image: linear-gradient(rgb(255, 255, 255),$orange) ;
    z-index: 99999;
    position: absolute;
    width: 100%;
    top: 6450px;
    padding: 50px;
}
.imgsky{
    height: 838px;
}
.bigcard1{
    top: -412px ;
    width: 115% !important;
}
.card{
    width: 312px ;
    left: 10px !important;
} 
#containerscreen{
    position: relative;
    top: 142px  !important;
}
.P2{
    width: 100% !important;
    padding: 40px;
}
.dodo2{
    top:82px !important;
}

}




/////////////////////////////
@media  (min-width:767px) and (max-width:1023px){
   .P2{
    width: 100% !important;
   }
   .about{
    width: 120% !important;
    height: 1200px !important;
}
#cardss{
    position: absolute;
    width: 50%;
    top:0% !important;
}
   .textup{
    position: relative;
    top: -541px;
    padding: 20px;
    color: white;
   }
    .cardsecondcard{
        top: 269px  !important;
        left: 100px !important;
     }
      .cardthird{
        top: 332px !important;
    }
    #containerscreen{
        top: 130px;
        position: relative;
    }
     .bigcard1{
        top: -411px;
     }
    .imgcat{
        width: 912px;
        height: 450px;
    }
    .menu-item{
        margin-top: 10px;
    }
    .dab{
        position: absolute;
        width: 10rem;
        height: 14rem;
        top: 467px;
        left: 276px !important;
    }
    #cards{
        position: relative;
        top: 388px;
    }
    #firstmargin{
        position: relative;
        top: 473px;
    }
    #secondmargin{
        position: relative;
        top: 457px;
    }
    #phone{
        position: absolute;
        top: 2273px;
        left: -5px;
        z-index: -1;
    }
    #thirdmargin{
        position: relative;
        top: 214%;
        left: 22%;
    }
    #fourpadge{
        position: relative;
        top: 274%;
        left: 22%;
    }
    .card1{
        width: 500px;
        margin-top: 20px;
    }
    .card2{
        top: 449%;
 
    }
    .dep2{
        width: 20% !important;
        position: relative;
        left: -23%;
    }
    .tnen{
    transition: 0.5s;
    position: absolute;
    left: 0px;
     top:3500px ;
     width: 100%;
     height: 700px;


}
.shap{
  display: none;
}

#c{
overflow-y: scroll;

}
#ten{
display: none !important;
    
}

#sky{
    position: absolute  !important;
    height: 600px;
    top: 326%;
    width: 100%;
    
}
#ten::-webkit-scrollbar,#sky::-webkit-scrollbar{
    display: none;
}
#tnentext{
    position: absolute;
    top: 146px;
    
}

.dab3
{
    width: 300px;
position: absolute;
top:0px;
right: 100px;
z-index: 999;
transform: rotate(180deg);
}
#form {
    width: 331px;
    position: absolute;
    top: 7%;
    left: 59px;
    z-index: 999;
}
#form2 {
    width: 350px;
    position: absolute;
    top: 74%;
    left: 520px;
    z-index: 999;
}
.skey-dodo
{
   
    position: absolute;
    top: 1;
    left: 340px;
    z-index: 9999999;
}

#lastcon{
    background-image: linear-gradient(rgb(255, 255, 255),$orange) ;
    z-index: 99999;
    position: absolute;
    width: 100%;
    top: 375%;
    padding: 50px;
}
.imgsky{
    height: 800px;
}

}
@media  (min-width:1023px) and (max-width:4000px)
{
 
    .cardsecond{
        position: absolute;
        top:95px;
        height: max-content;
        left: 64px;
        width: 30%;
    }
    #cardss{
        position: absolute !important;
        top: -7% !important;
        left: -5%;
    }
    .cardabout1{
        position: relative;
  
        width:30rem;
   
    }
    .cardabout2{
        width:80rem;
    }
    .textup{
        position: absolute;
        top: 183%;
        color: #ffffff;
    }
    .cathome{
    width: 120% !important;
}
    .row1{
        height: 100%;
    }
    .cardd{
        position: relative;
       top: 155px;
        
    }
    #firstmargin{
        margin-top:300px;
        margin-bottom:150px;
    }
    .dab{
        position: absolute;
        width:15rem;
        height: 20rem;
        top: 1845px;
        left: 210px !important;
    }.dep2{
        width: 300px !important;
    }
    .card1{
        width: 500px;
    }
    .card2{
        top: 449%;
 
    }
    .tnen{
    transition: 0.5s;
    position: absolute;
    left: 0px;
     top:3500px ;
     width: 100%;
     height: 700px;
}
.skey{
    transition: 0.5s;
    position: absolute;
    left: 0px;
     top:4200px ;
     width: 100%;
     z-index: 555;
     height: 500px;

}

.shap{
    position: fixed; 
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.182);
    width: 900px;
    height: 400px;
    left: 20%;
    border-radius: 50%;
    top: 180px;
}





#c{
overflow-y: scroll;

}
#ten{
    
     position: fixed;
     top: 0px;
    width: 100%;
    margin-top: 100px;
    
}

#sky{
    position: absolute  !important;
    height: 600px;
    top: 4355px;
    width: 100%;
    
}
#ten::-webkit-scrollbar,#sky::-webkit-scrollbar{
    display: none;
}
#tnentext{
    position: absolute;
    top: 146px;
    
}

.dab3
{
    width: 500px;
position: absolute;
top:0px;
right: 100px;
z-index: 999;
transform: rotate(180deg);
}
#form{
    width: 400px;
    position: absolute;
    top: 20%;
    left: 239px;
    z-index: 999;
}
#form2{
    width: 350px;
    position: absolute;
    top: 80%;
    left: 1000px;
    z-index: 999;
}
.skey-dodo
{
   
    position: absolute;
    top: 1;
    left: 595px;
    z-index: 9999999;
}

#lastcon{
    background-image: linear-gradient(rgb(255, 255, 255),$orange) ;
    z-index: 99999;
    position: absolute;
    width: 100%;
    top: 5155px;
    padding: 50px;
}
.imgsky{
    height: 800px;
}
.aboutbig1{
position: relative;
left: -1400px;
transition: 0.2s;
}
.games-items
{
    position: absolute;
     top: 65px;
    margin: 20px;
    
    
}

.ulul:hover{
    background-color: $orange;
    color: white !important;
}

  




}



*{
    font-family: font;
}
.nofont{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@font-face {
    font-family: font;
    src: url(/css/KOMIKAX_.ttf);
}
#first{
    display: none;
}
#nav{
    position: sticky ;
    top: -100px;
    z-index: 900095555555555555555555555000;
    
}
.imgcat{
    transition: 0.3s;
    
}
@for $i from 1 through 3 {
   .c#{$i}{ 
    transition: 0.5s;
    width: 300px;
    height: 400px;
    background-size: 100%;
    border-radius: 15px;
    background-image: linear-gradient(rgba(215, 66, 66, 0.027),rgba(198, 18, 18, 0.778)), url(/img/c#{$i}.png);
} 
.c#{$i}:hover{
    transform: scale(1.15);
    background-image:url(/img/c#{$i}.png);
}
}
.c4{
    transition: 0.5s;
    width: 300px;
    height: 400px;
    font-size: large;
    background-size: 100%;
    border-radius: 15px;
    background-image: linear-gradient(rgb(255, 241, 84),rgb(255, 94, 1));
}
.c4:hover{
     font-size:x-large;
    background-image: linear-gradient(rgb(255, 241, 84),rgb(255, 241, 84));
}
.hidden{
    display: none;

}
.noanimation:hover{
    animation:none !important;
    cursor:pointer;
}